BASE_URL=http://localhost:5000/api

DATABASE_URL="postgresql://user:123@localhost:5432/neabi?schema=public"

JWT_SECRET=
JWT_EXPIRES_IN=30d

BCRYPT_SALT=12

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/user/google/auth

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_FROM=
EMAIL_USER=
